body {
  min-width: fit-content;
}

.ant-page-header-heading-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
}

.ant-page-header-heading-title {
  margin-left: 30px;
  margin-bottom: 10px;
  font: 36px sans-serif;
}

.ant-page-header-heading-sub-title {
  margin-left: 30px;
  font: 18px italic;
  color: darkgray;
}

.ant-card {
  width: 800px;
  font: 16px sans-serif;
  margin: 5% auto;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 20px lightgray;
  border-radius: 5px;
}

.ant-card-head-title {
  padding: 20px;
  font-size: 20px;
}

.card-svg {
  padding: 10px;
  margin: 10px 0 0 10px;
  font-size: 30px;
}

.ant-card-meta {
  padding: 20px;
  font-size: 14px;
  line-height: 1.8;
}
.ant-card-meta-title {
  margin-bottom: 10px;
}

.loading {
  margin: 10px;
  font: 32px sans-serif;
}
