header {
  padding: 30px;
  margin: 0;
  border-bottom: 1px solid lightgray;
}

header h1 {
  margin-bottom: 10px;
  font: 36px sans-serif;
}

h4 {
  font: 18px italic;
  color: darkgray;
}

span {
  margin-top: 10px;
  padding: 10px;
}

.ant-card {
  width: 800px;
  font: 16px sans-serif;
}

.ant-card .ant-card-head-title {
  padding: 20px;
  font-size: 20px;
}

.ant-card-meta-title {
  margin-bottom: 10px;
}
