header {
  font: 16px sans-serif;
  padding: 30px;
  margin: 0;
  border-bottom: 1px solid lightgray;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.ant-card {
  width: 800px;
}

.ant-card-head {
  padding: 10px;
}
